<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>admin debug</title>

        <link rel="stylesheet" href="/static/main_styles.css">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

        <script defer src="https://umami.thirtyseventh.xyz/script.js" data-performance="true" data-auto-track="true" data-website-id="2094daf6-589d-4e9a-a353-7e466c5f2443"></script>
    </head>
    <body class="space-grotesk-normal" style="margin: 4vw 16vw">
        <p>this should probably be more useful at some point</p> <br><br>

        <p>ip as read from the server: {{ ip }}</p>
    </body>
</html>