<!DOCTYPE html>
<html lang="en-CA">
    <head>
        <meta charset="UTF-8">
        <title>why are you still here</title>

        <link rel="stylesheet" href="/static/main_styles.css">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

        <script defer src="https://umami.thirtyseventh.xyz/script.js" data-performance="true" data-auto-track="true" data-website-id="2094daf6-589d-4e9a-a353-7e466c5f2443"></script>

    </head>
    <body class="space-grotesk-normal ">
        hey look i made this in 10 minutes because im the only one who will ever see it <br> links and stuff to the other admin utils vvvvvvvv

        <p><a href="well-known-config">dynamic .well-known config</a></p>
        <p><a href="blogs">blog uploads</a></p>
        <p><a href="clear-sessions">clear all sessions</a></p>
    </body>
</html>