<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ blog_title }}</title>

        <link rel="stylesheet" href="/static/main_styles.css">
        <link rel="stylesheet" href="/static/blog_styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

        <link rel="icon" href="/favicon.svg" type="image/svg+xml">

        <script defer src="https://umami.thirtyseventh.xyz/script.js" data-website-id="2094daf6-589d-4e9a-a353-7e466c5f2443"></script>
    </head>
    <body>
        <div class="blog-header space-grotesk-normal">
            <h1 class="space-grotesk-single-header">{{ blog_title }}</h1>
            <div>
                <p>created: {{ created_time }}</p>
                <p id="updated-time">updated: {{ updated_time }}</p>
            </div>
            <hr>
        </div>

        <div class="top-left-button space-grotesk-normal">
            <a href="/blogs">back to blogs</a>
        </div>

        <div class="blog-main space-grotesk-normal">
            {{ blog_html | safe }}
        </div>
    </body>
</html>