.intro-header {
    margin-bottom: 0;
    flex-direction: column;
    font-size: 24px;
}
.intro-comment {
    margin-top: 5px;
    flex-direction: column;
    font-size: 16.5px;
}

.info-section {
    padding-left: 12vw;
    padding-right: 12vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info-panel {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1em;
}

.info-panel-large {
    grid-column: 1/3;
}

#stats-header {
    margin-bottom: 0;
}

.stats-section {
    padding-left: 12vw;
    padding-right: 12vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.stats-panel {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.stats-panel-right {
    text-align: right;
}

.buttons-section {
    display: grid;
    text-align: right;

    margin-right: 12vw;
    margin-left: 12vw;
    margin-bottom:3vw;
    padding-right: 2em;
    padding-left: 1.5em;

    grid-template-columns: repeat(14, 96px);

}

.faq-section {
    padding-left: 12vw;
    padding-right: 12vw;
}

.faq-panel {
    padding: 0.5em 2em;
}

#faq-header {
    margin: 0 1.5vw;
}

.left-header {
    text-align: left;
    margin-left: 12vw;
    padding-left: 1em;
}

