.blog-header {
    margin: 5vw 16vw auto;

    h1 {
        margin-bottom: 0.5vw;
        font-size: 48px;
        text-align: center;
    }
    p {
        margin: 0;
    }

    div {
        display: flex;
    }
}

#updated-time {
    margin-left: auto;
}

.blog-main {
    margin: 1em 16vw auto;
    p {
        font-size: 24px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 30px;
    }
}

.markdown-alert {
    p:nth-child(1) {
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0.2vw;
    }
    p:nth-child(2) {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0.2vw;
    }

    padding: 0.1vw 0.5vw;
}

.markdown-alert-note {
    background-color: oklch(0.2606 0.0723 254.88);
    border-style: solid;
    border-width: 2px;
    border-color: oklch(0.7374 0.0723 254.88);
    border-radius: 5px;
}