.blog-header {
    margin: 5vw 16vw auto;

    h1 {
        margin-bottom: 0.5vw;
        font-size: 48px;
        text-align: center;
    }
    p {
        margin: 0;
    }

    div {
        display: flex;
    }
}

#updated-time {
    margin-left: auto;
}

.blog-main {
    margin: 1em 16vw auto;
    p {
        font-size: 24px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 30px;
    }
}