/* this is almost certainly redundant and spaghetti, and shouldnt be in one file, etc etc. its myfirst time with css fight me */

.page-header-header {
    font-size: 48px;
    padding-top: 0;
    flex-direction: column;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1;
        text-align: center;
    }
}

.page-header {
    margin: 3rem auto;
    width: 33em;
}

.subsection-header {
    font-size: 32px;
    margin-bottom: 0;
}

.subsection-text {
    margin-top: 2px;
}

.right-align {
    text-align: right;
    margin-right: 12vw;
    padding-right: 1em;
}

.comment {
    margin-top: 0;
    padding-right: 2vw;
    font-size: 14px;
}


.text-highlight {
    color: oklch(0.7176 0.1839 304.77);
}

.full-page {
    background: #1e1e2e;
}

a {
    color: oklch(0.7176 0.1839 304.77);
}

::selection {
   background: oklch(0.483 0.137 319.619);
}


.space-grotesk-single-header {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 425;
    font-style: normal;
    color: oklch(0.751 0.0396 273.93);
}

.space-grotesk-header {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: oklch(0.751 0.0396 273.93);
}

h3.space-grotesk-header {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: oklch(0.751 0.0396 273.93);
    font-size: 24px;
}

.space-grotesk-normal{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    color: oklch(0.751 0.0396 273.93);
}
