<!DOCTYPE html>
<html lang="en-CA">
    <head>
        <title>im thirtyseven</title>

        <link rel="stylesheet" href="/static/main_styles.css">
        <link rel="stylesheet" href="/static/about_styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

        <script defer src="https://umami.thirtyseventh.xyz/script.js" data-performance="true" data-auto-track="true" data-website-id="2094daf6-589d-4e9a-a353-7e466c5f2443"></script>
    </head>
    <body>
        <div class="top-right-anchor space-grotesk-normal">
            <a href="/">home</a>
            <a href="/blogs">blog</a>
            <a href="https://tangled.org/did:plc:36m4dpd2zsudmq67x53hpx44" target="_blank">source</a>
        </div>

        <div class="page-header space-grotesk-normal">
            <p class="intro-header">hey! call me</p>
            <div class="page-header-header space-grotesk-single-header">
                <h1>thirtyseven</h1>
            </div>

            <p class="intro-comment">i also go by mrseven, seventythree, seven, and variations of those</p>
        </div>

        <div class="info-section">
            <div class="space-grotesk-normal info-panel">
                <h2 class="space-grotesk-header subsection-header">stuff i've done</h2>
                <p class="subsection-text">at the moment, on the public internet, very little of significance. i do some stuff for hack club,
                    and am currently working on <a href="https://sparkle.dino.icu">sparkle</a> with a few others. <br><br>
                    i made this website (obviously), and its served with flask because its funny. this is actually my
                    first time using html and css, which means the code is probably spaghetti. this site has a bunch of
                    overkill stuff that i made for fun, such as a system to dynamically serve .well-known files based on
                    the domain (i serve this site on two domains), and the admin panel uses sso because i felt like it</p>
            </div>
            <div class="space-grotesk-normal info-panel">
                <h2 class="space-grotesk-header subsection-header">general about me</h2>
                <p class="subsection-text">my real name is grayson, im 15 years old. i live in south ontario (vague because i value my illusion of privacy).
                    im a "programmer" and i mainly make silly little things and games. you can see some stats about my coding <a href="https://hackati.me/thirtyseven">here</a>.
                    i also spend way too much time fighting with slacks api. <br><br>i play far too many video games (namely
                    factory games and beat saber). speaking of video games, you should go play
                    <a href="https://store.steampowered.com/app/753640/Outer_Wilds/">outer wilds</a>! if you couldnt tell,
                    i really like the colour purple. </p>
            </div>
            <div class="space-grotesk-normal info-panel info-panel-large">
                <h2 class="space-grotesk-header subsection-header">my homelab</h2>
                <p class="subsection-text">totally overkill lmao. i run voidauth for sso, and have like 12 different compose stacks running stuff.
                    the docker containers are managed by komodo (great software). everything with a public domain is through nginx
                    (finally out of proxyauth hell). i run my own <a href="https://tangled.org">tangled.org</a> knot and spindle, and i run game servers with pterodactyl.
                    theres a public uptime monitor <a href="https://uptime.thirtyseventh.xyz">here</a>. <br><br> i also run a very
                    glitchy home assistant that is more often broken than functional. i have a grafana dashboard because
                    i can. all of this runs on a raspberry pi 5 with 8gb of ram, a pi 3b with 1gb, an old gaming laptop
                    with 16gb, a free oracle vps with 24gb, and a small server provided by hack club (<a href="https://hackclub.app">nest</a> is a great
                    resource if you're in hack club)</p>
            </div>
        </div>

        <h2 class="space-grotesk-header right-align" id="stats-header">stats and stuff</h2>
        <p class="space-grotesk-normal right-align comment">fun fact! this data is injected by flask on page load, meaning no js is needed to see the full page</p>

        <div class="stats-section">
            <div class="stats-panel">
                <h3 class="space-grotesk-header"><span class="text-highlight">{{ docker_services }}</span> docker services online, totalling <span class="text-highlight">{{ docker_containers }}</span> containers</h3>
            </div>
            <div class="stats-panel stats-panel-right">
                <h3 class="space-grotesk-header">this website has <span class="text-highlight">{{ uptime }}%</span> uptime over the last 30 days</h3>
            </div>
        </div>

        <h2 class="space-grotesk-header left-header">88x31s</h2>

        <div class="buttons-section">
            <a href="https://fily-is.dev" target="_blank"><img src="https://files.catbox.moe/liwq4o.gif" alt="88x31 button for fily-is.dev"></a>
            <a href="https://www.firefox.com" target="_blank"><img src="/static/88x31/firefox.png" alt="88x31 button for firefox"></a>
            <a href="https://fedoraproject.org" target="_blank"><img src="/static/88x31/fedora.gif" alt="88x31 button for fedora"></a>
            <a href="https://hackclub.com" target="_blank"><img src="https://cdn.hackclub.com/019eb7f9-f75f-7bde-ae35-10a1dd55073c/hackclub.gif" alt="88x31 button for hack club"></a>
            <a href="https://alexanderisashy.one" target="_blank"><img src="https://cdn.hackclub.com/019eb7f6-9096-7359-9ae6-b5d5c4bfa22f/gateway.png" alt="88x31 button for alex's site"></a>
            <a href="https://atproto.com" target="_blank"><img src="/static/88x31/atproto.png" alt="88x31 button for at protocol"></a>
            <a href="https://1password.com" target="_blank"><img src="/static/88x31/1password.png" alt="88x31 button for at protocol"></a>
        </div>


        <div class="faq-section">
            <h2 class="space-grotesk-header" id="faq-header">faq</h2>

            <div class="faq-panel space-grotesk-normal">
                <h3 class="space-grotesk-header subsection-header">how can i contact you?</h3>
                <p class="subsection-text">if you are a part of hack club, im @thirtyseven on slack. you can email me at
                    me@graysonv.ca. im also on signal, but please contact me on another channel to get that account (i do this to avoid spam)</p>
            </div>
            <div class="faq-panel space-grotesk-normal">
                <h3 class="space-grotesk-header subsection-header">the css is broken/the site looks awful on mobile</h3>
                <p class="subsection-text">i know. ill try to fix some of the bad css issues, but im never doing intentional
                    mobile support</p>
            </div>
            <div class="faq-panel space-grotesk-normal">
                <h3 class="space-grotesk-header subsection-header">are these questions actually asked frequently?</h3>
                <p class="subsection-text">i have no idea! i just either thought the stuff here was funny or didnt have
                    anywhere else to put it &#175;&#92;&#95;&#40;&#12484;&#41;&#95;&#47;&#175;</p>
            </div>
            <div class="faq-panel space-grotesk-normal">
                <h3 class="space-grotesk-header subsection-header">can you please type with proper punctuation?</h3>
                <p class="subsection-text">no (if its a job application then yes)</p>
            </div>
            <div class="faq-panel space-grotesk-normal">
                <h3 class="space-grotesk-header subsection-header">did you use ai/llms to make this?</h3>
                <p class="subsection-text">not really. except for about 5 lines of random parsing stuff i couldnt figure
                    out, all code was written by me, and you can see how long it took <a href="https://hackatime.hackclub.com/@thirtyseven/project/personal-website">here</a></p>
            </div>
        </div>
    </body>
</html>