<!DOCTYPE html>
<html lang="en-CA">
    <head>
        <title>im thirtyseven</title>

        <!--first sheet is for dev, the second will compile properly with flask. (only necessary because sometimes flask does weird stuff with static files)-->
        <link rel="stylesheet" href="/static/main_page.css">
<!--        <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

        <script defer src="https://umami.thirtyseventh.xyz/script.js" data-website-id="2094daf6-589d-4e9a-a353-7e466c5f2443"></script>
    </head>
    <body class="full-page">
        <div class="intro space-grotesk-normal">
            <p class="intro-header">hey! call me</p>
            <div class="main-intro space-grotesk-single-header">
                <h1>thirtyseven</h1>
            </div>

            <p class="intro-comment">i also go by mrseven, seventythree, seven, and variations of those</p>
        </div>

        <div class="info-section">
            <div class="space-grotesk-normal info-panel">
                <h2 class="space-grotesk-header">stuff ive done</h2>
                <p>at the moment, on the public internet, very little of significance. i do some stuff for hack club,
                    and am currently working on <a href="https://sparkle.dino.icu">sparkle</a> with a few others. <br><br>
                    i made this website (obviously), and its served with flask because its funny. this is actually my
                    first time using html and css, which means the code is probably spaghetti.</p>
            </div>
            <div class="space-grotesk-normal info-panel">
                <h2 class="space-grotesk-header">general about me</h2>
                <p>my real name is grayson, im 15 years old. i live in south ontario (vague because i value my illusion of privacy).
                    im a "programmer" and i mainly make silly little things and games. i also spend way too much time
                    fighting with slacks api. <br><br>i play far too many video games (namely factory games and beat saber).
                    speaking of video games, you should go play <a href="https://store.steampowered.com/app/753640/Outer_Wilds/">outer wilds</a>! if you couldnt tell, i really like the colour purple. </p>
            </div>
            <div class="space-grotesk-normal info-panel info-panel-large">
                <h2 class="space-grotesk-header">my homelab</h2>
                <p>totally overkill lmao. i run voidauth for sso, and have like 12 different compose stacks running stuff.
                    the docker containers are managed by komodo (great software). everything with a public domain is through nginx
                    (finally out of proxyauth hell). i run my own git server using gitea, and i run game servers with pterodactyl.
                    theres a public uptime monitor <a href="https://uptime.thirtyseventh.xyz">here</a>. <br><br> i also run a very
                    glitchy home assistant that is more often broken than functional. i also have a grafana dashboard because
                    i can. all of this runs on a raspberry pi 5 with 8gb of ram, a pi 3b with 1gb, an old gaming laptop
                    with 16gb, a free oracle vps with 24gb, and a small server provided by hack club (<a href="https://hackclub.app">nest</a> is a great
                    resource if you're in hack club)</p>
            </div>
        </div>

        <h2 class="space-grotesk-header right-align" id="stats-header">stats and stuff</h2>
        <p class="space-grotesk-normal right-align comment">fun fact! this data is injected by flask on page load, meaning no js is needed to see the full page</p>

        <div class="stats-section">
            <div class="stats-panel">
                <h3 class="space-grotesk-header"><span class="text-highlight">{{ docker_services }}</span> docker services online, totalling <span class="text-highlight">{{ docker_containers }}</span> containers</h3>
            </div>
            <div class="stats-panel stats-panel-right">
                <h3 class="space-grotesk-header">this website has <span class="text-highlight">{{ uptime }}%</span> uptime over the last 30 days</h3>
            </div>
        </div>
    </body>
</html>